<div class="container">
  <h1>Despesas de <%= @deputy.name %></h1>

  <table class="table">
  <thead>
    <tr>
      <th scope="col">Data</th>
      <th scope="col">Fornecedor</th>
      <th scope="col">Valor</th>
      <th scope="col">Nota Fiscal</th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |exp| %>
      <tr>
        <th scope="row"><%= exp.date.strftime('%d de %B de %Y') %></th>
        <td><%= exp.provider_name %></td>
        <td><%= number_to_currency(exp.value, unit: "R$ ", separator: ",", delimiter: ".")  %></td>
        <td>📥</td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @expenses %>
</div>
